.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.list {
    padding: 0.3rem;
}

.list_items{
    list-style-type: none;
    display: flex;
}