.hero {
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../../assets/two.jpeg");
    background-repeat: no-repeat;
    height: 40svh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #ffffef;
width: 90%;
}

.content h2{
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    color: #ff8906;
}

@media screen and (min-width:600px) {
    .content {
        width: 70%;
    }
}

@media screen and (min-width:900px) {
.content {
        width: 50%;
    }
}